/*Font import*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

/* Variables */
$bg-grey: #eef1f0;
$bg-purple: #5636d3;
$main-white: #ffffff;
$main-black: #363f5f;
$sec-orange: #ff872c;
$sec-red: #e83f5b;
$sec-green: #12a454;
$sec-light-grey: #969cb2;

.container {
  font-family: "Nunito";
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .modalBox {
    border-radius: 0.5rem;
    background-color: $bg-grey;
    width: 100%;
    min-width: 20rem;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    h2 {
      display: flex;
      align-items: center;
      padding: 2rem;
      border-radius: 0.5rem 0.5rem 0 0;
      background-color: $bg-purple;
      color: white;
      .iconAdd {
        background-color: $main-white;
        width: 2rem;
        height: 2rem;
        mask: url("../../assets/add.svg") no-repeat center;
        margin-right: 1rem;
      }
    }

    .modalContent {
      padding: 2rem;
      display: flex;
      flex-direction: column;

      .containerButtons {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        button {
          cursor: pointer;
          font-family: "Nunito";
          border: none;
          border-radius: 0.5rem;
          height: 3rem;
          width: 10rem;
          background-color: $sec-green;
          color: $main-white;
          box-shadow: 0px 2px 0px $main-black;
          transition: 0.2s filter linear;

          &:hover {
            filter: brightness(1.1);
          }

          &:active {
            box-shadow: 0 1px $main-black;
            transform: translateY(1px);
          }

          &:first-child {
            margin-right: 3rem;
            background-color: $sec-red;
          }
        }
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.errorUser {
  border: 1px solid $sec-red;
  border-radius:0.5rem;
}

.containerInput {
  margin-top:0.5rem;
  position: relative;
  display: flex;
  width:10rem;

  &:first-of-type{
    margin-bottom:3rem;
    width:100%;
  }
  input {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    height: 2rem;
    padding: 0 1rem;
  }

  .iconError {
    right: 0;
    top:0.25rem;
    position: absolute;
    background-color: $sec-red;
    width: 1.5rem;
    height: 1.5rem;
    mask: url("../../assets/alert.svg") no-repeat center;
    margin-right: 1rem;
  }
}
